.container{
	margin-top: 20px;
}


.modal-login {
		color: #636363;
		width: 350px;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
	.modal-login  .form-group {
		position: relative;
	}
	.modal-login i {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 18px;
	}
	.modal-login .form-control {
		padding-left: 40px;
	}
	.modal-login .form-control:focus {
		border-color: #00ce81;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #00ce81;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #00bf78;
	}
	
	.modal-login .modal-footer a {
		color: #999;
    }
    .modal-title{
        margin-top: 10px;
		margin-left: 10px;
		font-family: 'Sacramento', cursive;
		font-weight: 300px;
		font-size: 3.125rem;
	}

	 .wrapper{
		width: 50%;
		margin-left: 20%;
		background-color: rgb(142, 206, 197);
	 }
	 
	 #signup-form form{
		 width: 500px;
		 margin-left: 400px;
		 margin-top: 50px;
		 padding: 20px;
		 border: 5px solid aquamarine;
		
	 }

	#signup-form input{
	margin-left: 0 ;
	}


.float-image-right{
  width: 50%;
  border-radius: 50%;
  border: solid 10px #E4F9F5;
  float: right;
  margin-left: 10px;
  margin-right: 20px;
}
 